#btn-main{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    color: white;
    font-weight: bold;
}

.btn-add{
    border-color: rgb(41, 139, 139);
    background-color: rgb(41, 139, 139);
}

.btn-add:hover{
    background-color: rgb(43, 168, 168);
    background-color: rgb(43, 168, 168);
}

.btn-remove{
    border-color: rgb(177, 43, 43);
    background-color: rgb(177, 43, 43);
}

.btn-remove:hover{
    border-color: rgb(139, 41, 41);
    background-color: rgb(139, 41, 41);
}

#input-text{
    margin: 40px;
}